<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 
 <div class="container">
  <h2 style="text-align:center;margin-top: 20px;">Contact list</h2>
  <div class="card" style="height:auto;">
    <img class="card-img-top" src="../img/123.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Zahid Ayub</h4>
      <p class="card-text">Zahid Ayub is an architect and eng</p>  
      <p class="card-text">zahidayub924@gmail.com</p>  
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>

  <div class="card" style="height:auto;">
    <img class="card-img-top" src="../img/123.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Zahid Ayub</h4>
      <p class="card-text">Zahid Ayub is an architect and eng</p>  
      <p class="card-text">zahidayub924@gmail.com</p>  
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>

</div>

</body>
</html>
