<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" type="text/css" href="../css/practCss.css">
</head>
<body>


    <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <button  
            style="border: none;" type="button"
             name="button">
                <i class="fa fa-plus"></i>
                </button>
                <input type="text" class="form-control" style="width:60px;height:20px;margin-left: 25px;margin-top: -20px;" name="name" value="1">
                <button class="minus-btn" style="border: none;margin-left: 90px;margin-top:-60px;" type="button" name="button">
                <i class="fa fa-minus"></i>
                 </button>
          </div>


          
     </div>




     <div class="spinner" data-addclass-on-smdown="spinner-sm">
        <button type="button" class="btn btn-icon rounded-circle" id="btnMinus"><i data-feather="minus"></i>-</button>
        <input type="number" class="form-control" value="1" min="1" max="999" id="numberCol" />
        <button type="button" class="btn btn-icon rounded-circle" id="btnPlus"><i data-feather="plus"></i>+</button>
      </div>
     </div>




     
    
        
</body>
</html>