<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <link rel="stylesheet" type="text/css" href="../css/practCss.css">
</head>
<body>
          <nav class="navbar navbar-expand-md  bg-dark navbar-dark fixed-top">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">
                    <img src="../img/jemLogo.jpg" class="img-circle"  alt="Logo" style="width:40px;">
                      </a>
                </li>
                </ul>
                </nav>
                 <br>
                 <br>
                <div class="container divv" style="margin-top: 41px;">
                <h1><strong>THANK YOU FOR YOUR ORDER</strong> </h1>
                <p style="position:bottom; margin-top:40px">Order Number : #65278</p>
                </div>
                <div class="container div2 " style="margin-top: 60px; " >
                  <ul class="list-group ">
                    <li class="list-group-item">Buwiser1<button type="button" class="btn btn-primary;" value="-">-</button><button type="button" value="+">+</button><p style="float: right;">$25</p>
                    </li>
                    <li class="list-group-item">Sub Total<p style="float: right;">$25</p></li>
                    <li class="list-group-item">Tax incl.<p style="float: right;">$25</p></li>
                    <li class="list-group-item">Total<p style="float: right;">$25</p></li>
                   </ul>
                </div>

                <div class="container">
                  <button type="button" class="btn btn2 ">View Order<i class="fa fa-angle-right" style="margin-left:10px;"></i>
                  </button>
                </div>

  <div class="container">
    <div class="form-group">
        <label for="comment"></label>
        <textarea class="form-control" rows="3" id="comment" placeholder="Add Special Instructions"></textarea>
      </div>

  </div>          
</div>
 </body>
</html>