<html>
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <link rel = "stylesheet" href = "../css/modalCss.css">

    
    </head>
    <body>

        <div class="container">
            <div class="jumbotron">
                <p style="text-align: center;"><b> My Cart</b> </p>
              <p class="dashed"></p>

              <p id="para1">Minimum Order<span><b>$10</b></span></p>


              <ul class="list-group">
                <li class="list-group-item" style="background-color:transparent;
                ">Purchased Items</li>
                 <li class="list-group-item"style="background-color:transparent;">Tax</li>
                <li class="list-group-item"style="background-color:transparent;">Total</li>
              </ul>
              <p class="dashed"></p>

              <p style="margin-top:40px; margin-bottom: -20px; color: #576ae6;"></p>
              <div class="form-group">
              <textarea class="form-control" rows="5" id="comment" placeholder="Do you have any Query regarding shopping"></textarea>
              </div>
              <p class="dashed"></p>
             
         
        <button type="button" class="btn btn-danger" style="width: 140px;  display:inline-block;">Cancel</button>
         <button type="button" class="btn btn-success" style=" width: 140px; display:inline-block;">Continue</button>
           

             </div>
             
          </div>
      
    </body>
</html>

