<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" href = "../css/pract.css">
</head>
<body>

<div class="container" style="margin-top :100px">
  <h2 style="text-align: center;">Open Vacancies Available</h2>
  <ul class="list-group" style="visibility: visible;">
    <li class="list-group-item">Developer<span class="badge badge-light">4</span></li>
    <li class="list-group-item">Clerk<span class="badge badge-light">4</span></li>
    <li class="list-group-item">Data Entry<span class="badge badge-light">4</span></li>
    <li class="list-group-item">Operator<span class="badge badge-light">4</span></li>
  </ul>

  <br>
  <br>

  <h3 style="text-align: center;">More information about vacancies </h3>
  <div class="row">
    <div class="col-md-3">Name
        <ul class="list-group">
            <li class="list-group-item">Developer</li>
            <li class="list-group-item">Clerk</li>
            <li class="list-group-item">Data Entry</span></li>
            <li class="list-group-item">Operator </li>
          </ul>  
    </div>
    <div class="col-md-3">Total Seats
        <ul class="list-group">
            <li class="list-group-item">10</li>
            <li class="list-group-item">5</li>
            <li class="list-group-item">20</li>
            <li class="list-group-item">30 </li>
          </ul>  
    </div>
    <div class="col-md-3">Age
        <ul class="list-group">
            <li class="list-group-item">10</li>
            <li class="list-group-item">5</li>
            <li class="list-group-item">20</li>
            <li class="list-group-item">30 </li>
          </ul>  
        </div>
        
      </div>
         

        <h2 style=" margin-top: 50px;margin-bottom:20px;text-align: center;">Selected Candidates</h2>

        <div class="table-responsive-sm">
         <table class="table table-hover">
            <thead>
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>zahid</td>
                <td>ayub</td>
                <td>zahid@egmail.com</td>
              </tr>
              <tr>
                <td>ALi</td>
                <td>Moe</td>
                <td>ali@gmail.com</td>
              </tr>
              <tr>
                <td>Kamran</td>
                <td>Bhai</td>
                <td>Bhai@gmail.com</td>
              </tr>
            </tbody>
          </table>
          </div>
          
          </div>
 
</body>
</html>
