#header #btn1,
#btn2 {
    width: 200px;
    text-align: left;
    margin-right: 11px;
    background-color: transparent;
    color: black;
}

.col-md-5 {
    padding: 10px;
}

.col-md-7 {
    padding: 10px;
}


/* #header #top_header {
    color: green;
    width: 100%;
    height: 90px;
    position: relative;
    margin-bottom :1px;
    background-color: #f8f9fa!important;
} */

.logo {
    width: 30%;
    text-align: center;
    line-height: 70px;
    display: inline-block;
    position: absolute;
    left: 0;
    /* float: left; */
}

#header .two {
    width: 70%;
    line-height: 70px;
    position: absolute;
    display: inline-block;
    right: 0;
    /* float: right; */
}

.navbar-nav a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-nav .nav-item {
    display: block;
    padding: 4px 4px 4px 0px;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: red
}

.carousel-control-prev,
.carousel-control-next {
    height: 20px;
    width: 20px;
    outline: white;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 150px;
    background-color: gold;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.carousel-caption {
    position: absolute;
    right: initial;
    color: white;
    text-align: left;
    padding: 0 20px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.item-list1 {
    border: 1px solid white;
    border-radius: 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    float: left;
    width: 100%;
}

.Categories {
    margin: 1em 10rem;
    position: relative;
}

.Categories img {
    height: 15rem;
    width: 100%;
    margin: 0;
}

.thumbnail:hover {
    width: 100%;
    background-color: blue;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.5;
}

#Categories {
    margin-top: -40px;
}

#Categories .container {
    background-color:#546166;
}

#Categories .row {
    padding-top: 100px;
}


 


 